/***************************************************************
Resume Form
***************************************************************/
body {
	background: #1c1c21;
}

.formarea {
	width: 80%;
	margin: auto;
}

fieldset {
	background: #1c1c2c;
	color: #fff;
	border-radius: 10px;
	margin: 10px;
	font-size: 20px;
	font-family: calibri;
}

fieldset input {
	padding: 5px;
	margin-right: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	font-size: 20px;
	font-family: calibri;
}

fieldset textarea {
	width: 60%;
	border-radius: 5px;
	font-size: 20px;
	font-family: calibri;
}

fieldset h3 {
	border-left: 2px solid skyblue;
	padding-left: 8px;
}

/*****************************************************************
Media Tags
*****************************************************************/
@media screen and (max-width: 700px) {
	.formarea {
		width: 90%;
	}

	fieldset {
		font-size: 17px;
	}

	fieldset textarea {
		width: 80%;
	}

	fieldset input {
		width: 80%;
		font-size: 16px;
		margin-bottom: 15px;
	}

	fieldset select {
		margin-bottom: 25px;
	}
}