/*********************************************************************
Global Styles 
*********************************************************************/
body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 80%;
	margin: auto;
}

/*********************************************************************
Header 
*********************************************************************/
.header {
	background: #1c1c1c;
	min-height: 130px;
	margin-top: -15px;
}

.nav ul{
	list-style: none;
	padding: 0px;
}

.nav li {
	display: inline-block;
	margin-top: 50px;
}

.nav li a {
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 150px;
	text-align: center;
	transition: color 1s ease;
}

.nav li a:hover {
	color: coral;
}

/*********************************************************************
Main Text
*********************************************************************/
.maintext {
	min-height: 300px;
	background: grey;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.maintext h1 {
	margin: 0;
	padding-top: 50px;
	color: #fff;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	transition-delay: 3s;
	transition: font-size 2s ease;
}

.maintext h1:hover {
	font-size: 55px;
}

.candy {
	font-family: calibri;
	color: skyblue;
}

.maintext h3 {
	color: #fff;
	font-family: calibri;
	font-size: 25px;
	margin-top: 50px;
}

/*********************************************************************
Steps
*********************************************************************/
.steps {
	min-height: 320px;
	background: #1c1c21;
	margin-top: -40px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.steps h3 {
	color: #fff;
	font-family: calibri;
	font-size: 25px;
	padding-top: 20px;
	padding-left: 20px;	
	border-left: 3px solid white;
}

.steps li {
	color: #fff;
	font-family: calibri;
	font-size: 18px;
	padding: 5px;
}


.steps li a {
	color: skyblue;
	transition: 1s ease color;
	text-decoration: none;
}

.steps li a:hover {
	color: white;
}

/*********************************************************************
Line
*********************************************************************/
.line {
	border: 2px solid white;
	width: 30%;
	margin: auto;
	border-radius: 50%;
}

/*********************************************************************
Templates and Button
*********************************************************************/
.templates {
	background: #1c1c21;
	margin-top: -5px;
}

.templates h3 {
	color: #fff;
	font-family: calibri;
	font-size: 25px;
	margin: 0px;
	padding-top: 30px;
}

.templates h3 a {
	color: skyblue;
	transition: 1s ease color;
	text-decoration: none;
}

.templates h3 a:hover {
	color: white;
}

.templates ul {
	list-style: none;
}

.templates li img {
	width: 290px;
	transition: opacity 1s ease;
}

.templates li {
	display: inline-block;
	padding: 10px;
	margin: 5px;
}

.templates li p {
	color: #fff;
	font-size: 18px;
	font-family: calibri;
	text-align: center;
}

.templates li img:hover {
	opacity: 0.5;
}

.btn {
	color: white;
	background: green;
	padding: 5px;
	font-family: calibri;
	font-size: 25px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	transition: background 1s ease;
	margin-bottom: 20px;
	margin-left: 40%;
}

.btn a {
	text-decoration: none;
	color: white;
	padding: 10px;
}
.btn:hover {
	background: #1c1c21;
}

/*********************************************************************
About
*********************************************************************/
.about {
	background: grey;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.company img {
	margin-left: 35%;
	width: 300px;
	padding-top: 20px;
}

.company p {
	margin-top: 20px;
	font-size: 50px;
	font-family: calibri;
	text-align: center;
	color: white;
}

.authors {
	background: #1c1c21;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.authors ol {
	list-style: none;
	padding: 0px;
}

.authors li {
	margin: 40px;
}

.authors li img {
	margin-left: 35%;
	width: 250px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 50%;
}

.authors li p {
	margin-top: 20px;
	font-size: 25px;
	font-family: calibri;
	text-align: center;
	color: white;
	width: 70%;
	margin: auto;
}

.authors li p i {
	font-size: 20px;
}

.describe p{
	width: 80%;
	margin: auto;
	font-family: calibri;
	font-size: 25px;
	color: #fff;
	padding-bottom: 30px;
	text-align: center;
}

/*********************************************************************
Contact
*********************************************************************/
.contact {
	background: grey;
	margin-top: -20px;
	margin-bottom: -25px;
	min-height: 100vh;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.contact img {
	width: 3%;
	margin-top: 5%;
	margin-left: 16%;
	transition: 1.5s ease;
}

.contact p {
	color: white;
	font-family: calibri;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
	line-height: 1.5em;
}

.contact img:hover {
	opacity: 0.4;
}

.divline {
	border: 2px solid white;
	border-radius: 50%;
	width: 15%;
	margin: auto;
}

/*********************************************************************
Footer
*********************************************************************/
footer {
	min-height: 45px;
	background: #1c1c1c;
	margin-top: -20px;
}

footer p {
	padding-top: 15px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-family: calibri;
}

footer p a {
	color: #fff;
	text-decoration: none;
}

/*********************************************************************
Media Tags
*********************************************************************/
@media screen and (max-width: 1024px) {
	/******************************
	Header 
	******************************/
	.header {
		min-height: 100px;
	}

	.nav li {
		margin-top: 10px;
	}

	.nav li a {
		font-size: 20px;
		margin-left: 50px;
	}

	/******************************
	Main Text 
	******************************/
	.maintext {
		min-height: 400px;
		margin-top: -30px;
	}

	.maintext h1 {
		font-size: 35px;
	}

	.maintext h1:hover {
		font-size: 40px;
	}

	.maintext h3 {
		font-size: 20px;
		margin-top: 50px;
	}

	/******************************
	Templates and Button
	******************************/
	.templates ul {
		padding: 0px;
	}

	.templates li img {
		width: 100%;
	}

	.btn {
		font-size: 15px;
		margin-bottom: 20px;
		margin-left: 28%;
	}

	/******************************
	About 
	******************************/
	.about {
		margin-top: -30px;
	}

	.company img {
		width: 50%;
		margin-left: 25%;
	}

	.company p {
		font-size: 25px;
	}

	.authors li img {
		width: 50%;
		margin-left: 25%;
	}

	.authors li p {
		font-size: 15px;
		width: 100%;
	}

	.authors li p i {
		font-size: 12px;
	}

	.describe p{
		font-size: 15px;
	}

	/******************************
	Contact 
	******************************/
	.contact {
		margin-top: -30px;
	}

	.contact img {
		width: 5%;
		margin-top: 10%;
	}

	.contact p {
		font-size: 15px;
		margin-top: 5%;
	}

	/******************************
	Footer 
	******************************/
	footer p {
		font-size: 12px;
	}	
}