/*********************************************************************
Google Fonts
*********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gloria+Hallelujah&family=Rock+Salt&display=swap');

/*********************************************************************
Global Styles 
*********************************************************************/
body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 80%;
	margin: auto;
}

.backlit {
	min-height: 40px;
	background: #1c1c1c;
	margin-top: -5px;
}

/*********************************************************************
Key Frames 
*********************************************************************/
@keyframes satisfy {
	from { background: #1c1c21; }
	to { background: grey; }
}

@keyframes disco {
	from { color: white; }
	to { color: skyblue; }
}
/*********************************************************************
Header 
*********************************************************************/
.header {
	background: #1c1c1c;
	min-height: 100px;
	margin-top: -15px;
}

.nav ul{
	list-style: none;
	padding: 0px;
}

.nav li {
	display: inline-block;
	margin-top: 50px;
}

.nav li a {
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 150px;
	text-align: center;
	transition: color 1s ease;
}

.nav li a:hover {
	color: coral;
}

/*********************************************************************
Main Text
*********************************************************************/
.maintext {
	animation-name: satisfy;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	min-height: 350px;
	background: grey;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.maintext h1 {
	margin: 0;
	padding-top: 50px;
	color: #fff;
	font-family: Rock Salt;
	font-size: 50px;
	text-align: center;
	transition: font-size 2s ease;
}

.maintext h1:hover {
	font-size: 55px;
	animation-name: disco;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
}

.candy {
	color: skyblue;
}

.candy:hover {
	animation-name: disco;
	animation-iteration-count: infinite;
	animation-duration: 0.5s;
}

.maintext h3 {
	color: #fff;
	font-family: Nunito;
	font-size: 25px;
	margin-top: 50px;
}

/*********************************************************************
Steps
*********************************************************************/
.steps {
	min-height: 320px;
	background: #1c1c21;
	margin-top: -40px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.steps h3 {
	color: #fff;
	font-family: calibri;
	font-size: 25px;
	padding-top: 20px;
	padding-left: 20px;	
	border-left: 3px solid skyblue;
}
	
.steps li {
	color: #fff;
	font-family: Nunito;
	font-size: 18px;
	padding: 5px;
}


.steps li a {
	color: skyblue;
	transition: 1s ease color;
	text-decoration: none;
	border-bottom: 0.5px dotted skyblue;
	font-style: italic;
}

.steps li a:hover {
	color: white;
}

/*********************************************************************
Line
*********************************************************************/
.line {
	border: 2px solid white;
	width: 30%;
	margin: auto;
	border-radius: 50%;
}

/*********************************************************************
Info
*********************************************************************/
.info {
	background: #1c1c21;
	margin-top: -20px;
}

.info ol {
	list-style: none;
	padding-left: 0px;
	padding-top: 20px;
}

.info ol li {
	display: inline-block;
	width: 400px;
	margin-left: 40px;
}

.info ol li img {
	width: 200px;
	margin-left: 100px;
	border-radius: 10px;
}

.info ol li p {
	margin-top: 5px;
	font-family: Nunito;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding: 10px;
}

/*********************************************************************
Templates and Button
*********************************************************************/
.templates {
	background: #1c1c21;
	margin-top: -20px;
}

.templates h3 {
	color: #fff;
	font-family: calibri;
	font-size: 25px;
	margin: 0px;
	padding-top: 30px;
}

.templates h3 a {
	color: skyblue;
	transition: 1s ease color;
	text-decoration: none;
	border-bottom: 0.5px dotted skyblue;
	font-style: italic;
}

.templates h3 a:hover {
	color: white;
}

.templates ul {
	list-style: none;
}

.templates li img {
	width: 290px;
	transition: opacity 1s ease;
}

.templates li {
	display: inline-block;
	padding: 10px;
	margin: 5px;
}

.templates li p {
	color: #fff;
	font-size: 16px;
	font-family: Nunito;
	text-align: center;
}

.templates li img:hover {
	opacity: 0.5;
}

.btn {
	color: white;
	background: green;
	padding: 5px;
	font-family: calibri;
	font-size: 25px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	transition: background 1s ease;
	margin-bottom: 20px;
	margin-left: 40%;
}

.btn a {
	text-decoration: none;
	color: white;
	padding: 10px;
}
.btn:hover {
	background: #1c1c21;
}

/***************************************************************
Resume Form
***************************************************************/
body {
	background: #1c1c21;
}

.formarea {
	width: 80%;
	margin: auto;
}

fieldset {
	background: #1c1c2c;
	color: #fff;
	border-radius: 10px;
	margin: 10px;
	font-size: 20px;
	font-family: calibri;
}

fieldset input {
	padding: 5px;
	margin-right: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	font-size: 20px;
	font-family: calibri;
}

fieldset textarea {
	width: 60%;
	border-radius: 5px;
	font-size: 20px;
	font-family: calibri;
}

fieldset h3 {
	border-left: 2px solid skyblue;
	padding-left: 8px;
}

/*********************************************************************
About
*********************************************************************/
.about {
	animation-name: satisfy;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	background: grey;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.company img {
	margin-left: 35%;
	width: 300px;
	padding-top: 20px;
}

.company p {
	margin-top: 20px;
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	color: white;
}

.authors {
	background: #1c1c21;
	margin-top: -20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.authors ol {
	list-style: none;
	padding: 0px;
}

.authors li {
	margin: 40px;
}

.authors li img {
	margin-left: 35%;
	width: 250px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-radius: 50%;
}

.authors li p {
	margin-top: 20px;
	font-size: 25px;
	font-family: Gloria Hallelujah;
	text-align: center;
	color: white;
	width: 70%;
	margin: auto;
}

.authors li p i {
	font-size: 15px;
}

.signature {
	font-family: Dancing script;
}

.describe p{
	width: 80%;
	margin: auto;
	font-family: Nunito;
	font-size: 25px;
	color: #fff;
	padding-bottom: 30px;
	text-align: center;
}

/*********************************************************************
Contact
*********************************************************************/
.contact {
	animation-name: satisfy;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	background: grey;
	margin-top: -20px;
	margin-bottom: -25px;
	min-height: 100vh;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.contact img {
	width: 3%;
	margin-top: 5%;
	margin-left: 16%;
	transition: 1.5s ease;
}

.contact p {
	color: white;
	font-family: Nunito;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
	line-height: 1.5em;
}

.contact img:hover {
	opacity: 0.4;
}

.divline {
	border: 2px solid white;
	border-radius: 50%;
	width: 15%;
	margin: auto;
}

/*********************************************************************
Footer
*********************************************************************/
footer {
	min-height: 45px;
	background: #1c1c1c;
}

footer p {
	margin: 0px;
	padding-top: 15px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-family: calibri;
}

footer p a {
	color: #fff;
	text-decoration: none;
	border-bottom: 0.5px dotted skyblue;
}


/*********************************************************************
Media Tags
*********************************************************************/
@media screen and (max-width: 1024px) {
	/******************************
	Global 
	******************************/
	.container {
		width: 90%;
	}

	.backlit {
		min-height: 60px;
		margin-top: -25px;
	}

	/******************************
	Header 
	******************************/
	.header {
		min-height: 50px;
	}

	.nav li {
		margin-top: 20px;
	}

	.nav li a {
		font-size: 15px;
		margin-left: 30px;
	}

	/******************************
	Main Text 
	******************************/
	.maintext {
		min-height: 350px;
		margin-top: -30px;
	}

	.maintext h1 {
		font-size: 25px;
		padding-top: 20px;
	}

	.maintext h1:hover {
		font-size: 30px;
	}

	.maintext h3 {
		font-size: 18px;
		margin-top: 25px;
	}

	/******************************
	Steps 
	******************************/
	.steps h3 {
		font-size: 20px;
	}

	.steps li {
		font-size: 16px;
	}
	/******************************
	Info 
	******************************/
	.info ol {
		margin-left: 0px;
	}

	.info ol li img {
		width: 33%;
		margin-left: 33%;
	}
	.info ol li {
		width: 90%;
		margin-left: 5%;
	}

	/******************************
	Templates and Button
	******************************/
	.templates h3 {
		font-size: 20px;
		margin-top: 0px;
	}

	.templates ul {
		padding: 0px;
	}

	.templates li {
		width: 43%;
		padding: 5px;
	}

	.templates li img {
		width: 100%;
		border-radius: 5px;
	}

	.templates li p {
		margin: 0px;
		font-size: 16px;
		padding-bottom: 10px;
	}

	.btn {
		font-size: 15px;
		margin-bottom: 20px;
		margin-left: 30%;
	}

	/******************************
	Resume Form
	******************************/
	.formarea {
		width: 90%;
	}

	fieldset {
		font-size: 17px;
	}

	fieldset textarea {
		width: 80%;
	}

	fieldset input {
		width: 80%;
		font-size: 16px;
		margin-bottom: 15px;
	}

	fieldset select {
		margin-bottom: 25px;
	}

	/******************************
	About 
	******************************/
	.about {
		margin-top: -30px;
	}

	.company img {
		width: 50%;
		margin-left: 25%;
	}

	.company p {
		font-size: 25px;
	}

	.authors li img {
		width: 50%;
		margin-left: 25%;
	}

	.authors li p {
		font-size: 15px;
		width: 100%;
	}

	.authors li p i {
		font-size: 12px;
	}

	.describe p{
		font-size: 15px;
	}

	/******************************
	Contact 
	******************************/
	.contact {
		margin-top: -30px;
	}

	.contact img {
		width: 5%;
		margin-top: 10%;
	}

	.contact p {
		font-size: 15px;
		margin-top: 5%;
	}

	/******************************
	Footer 
	******************************/
	footer p {
		font-size: 12px;
	}
	
}
